<div class="container">
  <div class="row">
    <div class="col-md-12">

      <h1>First Program</h1>

      <p>
        Your result is <%= @your_output %> which means <%= @outcome %>
      </p>

    </div>
  </div>
</div>
